.landing-container {
  margin-left: 200px;
  width: 80%;
  height: 100%;
}

.landing-background {
  /*TODO - margins messed up*/
  margin-top: -20px;
  height: 700px;
  width: auto;
  background: lightblue;
}

.landing-description {
  width: 80%;
  font-family: FaktSoftPro;
  margin-bottom: 25px;
}
